.row {
  display: flex;
  justify-content: center;
}

#map {
  width: 1200px;
  height: 800px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#misses {
  margin-left: 1rem;
}

#target {
  width: 2rem;
  height: 2rem;
  background-color: green;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 1000;
}

#time {
  margin-left: 1rem;
}

#hits-text {
  margin-left: 1rem;
}

#hits {
  margin-left: 1rem;
}
